body{
    background-color: rgb(215, 215, 215);
}

.logo-div{
    width: 100%;
    height: 10%;
    margin-top: 3%;
    text-align: center;
}

.e_corp_logo_big{
    width: 15%;
}

.form_div{
    width: 90%;
    height: 40%;
    text-align: center;
    margin-left: 3%;
}

form{
    width: 50%;
    margin-top: 4%;
    text-align: center;
    margin-left: 25%;
    background-color: rgb(243, 243, 243);
    padding: 2%;
    padding-bottom: 4%;


}

input{
    width: 50%;
}

.form_text{
    color: rgb(27, 27, 27);
    font-family: Poppins;
}

.forgot{
    text-align: left;
    margin-left: 13%;
    font-size: 90%;
    font-family: serif;
    color: #0066CC;
}

.button{
    margin-top: 5%;
    font-family: sans-serif;
    background-color: #1f1f1f;
    color: white;
    border: 0;
    border-radius: 4px;
    padding-top: 0.3%;
    padding-bottom: 0.5%;
}

.pass_text{
    margin-top: 6%;
}

.hola{
    font-family: sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: rgba(32, 32, 32, 0.833);
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.865);
}

.switch{
    width: 4em;

}
